---
title: Page not found
published: true
---
{% extends index %}
{% block hero %}{% endblock %}
{% block main %}
<div class="section">
	<div class="row">
		<div class="small-8 columns text-centered"></div>
			<p>You're off the beaten path, friend! Let us point you in the right direction. Maybe search for some<a href="/search/r" >beautiful homes in Knoxville, TN?</a></p>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript_includes %}
	
{% endblock %}

{% block javascript_includes %}
	
{% endblock %}