<div class="section">
  <div class="row">
    <div class="small-10 columns small-centered end">
      {% if caption %}
      <h1 class="text-center">{{ caption }}</h1>
      {% endif %}
      {% if body %}
      <div class="text-center text-large">{{ body }}</div>
      {% endif %}
    </div>
  </div>
</div>