<div id="{{ id | default: 'mls-price'}}" data-dropdown-content class="f-dropdown small" aria-hidden="true" tabindex="-1" style="padding:20px;">
      <div class="row">
            <div class="small-6 columns">
                  <select name="minprice" placeholder="Min Price" >
                        <option value="0">Min Price</option>
                        <option value="15000">$15K</option>
                        <option value="25000">$25K</option>
                        <option value="50000">$50K</option>
                        <option value="75000">$75K</option>
                        <option value="100000">$100K</option>
                        <option value="125000">$125K</option>
                        <option value="150000">$150K</option>
                        <option value="175000">$175K</option>
                        <option value="200000">$200K</option>
                        <option value="225000">$225K</option>
                        <option value="250000">$250K</option>
                        <option value="275000">$275K</option>
                        <option value="300000">$300K</option>
                        <option value="325000">$325K</option>
                        <option value="350000">$350K</option>
                        <option value="375000">$375K</option>
                        <option value="400000">$400K</option>
                        <option value="425000">$425K</option>
                        <option value="450000">$450K</option>
                        <option value="475000">$475K</option>
                        <option value="500000">$500K</option>
                        <option value="525000">$525K</option>
                        <option value="550000">$550K</option>
                        <option value="575000">$575K</option>
                        <option value="600000">$600K</option>
                        <option value="625000">$625K</option>
                        <option value="650000">$650K</option>
                        <option value="675000">$675K</option>
                        <option value="700000">$700K</option>
                        <option value="725000">$725K</option>
                        <option value="750000">$750K</option>
                        <option value="775000">$775K</option>
                        <option value="800000">$800K</option>
                        <option value="825000">$825K</option>
                        <option value="850000">$850K</option>
                        <option value="875000">$875K</option>
                        <option value="900000">$900K</option>
                        <option value="925000">$925K</option>
                        <option value="950000">$950K</option>
                        <option value="975000">$975K</option>
                        <option value="1000000">$1M</option>
                        <option value="1500000">$1.5M</option>
                        <option value="2000000">$2M</option>
                        <option value="2500000">$2.5M</option>
                        <option value="3000000">$3M</option>
                        <option value="3500000">$3.5M</option>
                        <option value="4000000">$4M</option>
                        <option value="4500000">$4.5M</option>
                        <option value="5000000">$5M</option>
                        <option value="7500000">$7.5M</option>
                        <option value="10000000">$10M</option>
                        <option value="15000000">$15M</option>
                        <option value="20000000">$20M</option>
                  </select>
            </div>
            <div class="small-6 columns">
                  <select name="maxprice" placeholder="Max Price" >
                        <option value="">Max Price</option>
                        <option value="15000">$15K</option>
                        <option value="25000">$25K</option>
                        <option value="50000">$50K</option>
                        <option value="75000">$75K</option>
                        <option value="100000">$100K</option>
                        <option value="125000">$125K</option>
                        <option value="150000">$150K</option>
                        <option value="175000">$175K</option>
                        <option value="200000">$200K</option>
                        <option value="225000">$225K</option>
                        <option value="250000">$250K</option>
                        <option value="275000">$275K</option>
                        <option value="300000">$300K</option>
                        <option value="325000">$325K</option>
                        <option value="350000">$350K</option>
                        <option value="375000">$375K</option>
                        <option value="400000">$400K</option>
                        <option value="425000">$425K</option>
                        <option value="450000">$450K</option>
                        <option value="475000">$475K</option>
                        <option value="500000">$500K</option>
                        <option value="525000">$525K</option>
                        <option value="550000">$550K</option>
                        <option value="575000">$575K</option>
                        <option value="600000">$600K</option>
                        <option value="625000">$625K</option>
                        <option value="650000">$650K</option>
                        <option value="675000">$675K</option>
                        <option value="700000">$700K</option>
                        <option value="725000">$725K</option>
                        <option value="750000">$750K</option>
                        <option value="775000">$775K</option>
                        <option value="800000">$800K</option>
                        <option value="825000">$825K</option>
                        <option value="850000">$850K</option>
                        <option value="875000">$875K</option>
                        <option value="900000">$900K</option>
                        <option value="925000">$925K</option>
                        <option value="950000">$950K</option>
                        <option value="975000">$975K</option>
                        <option value="1000000">$1M</option>
                        <option value="1500000">$1.5M</option>
                        <option value="2000000">$2M</option>
                        <option value="2500000">$2.5M</option>
                        <option value="3000000">$3M</option>
                        <option value="3500000">$3.5M</option>
                        <option value="4000000">$4M</option>
                        <option value="4500000">$4.5M</option>
                        <option value="5000000">$5M</option>
                        <option value="7500000">$7.5M</option>
                        <option value="10000000">$10M</option>
                        <option value="15000000">$15M</option>
                        <option value="20000000">$20M</option>
                  </select>
            </div>
      </div>
</div>