<select id="mls-bedrooms" class="" name="bedrooms" type="text" placeholder="Beds">
  <option value="1">1+ Beds</option>
  <option value="2">2+ Beds</option>
  <option value="3" selected="selected">3+ Beds</option>
  <option value="4">4+ Beds</option>
  <option value="5">5+ Beds</option>
</select>